<mat-card fxFlex>
    <mat-toolbar>
        <mat-card-title>
                Product List
            </mat-card-title>
        <div class="spacer"></div>
        <a mat-raised-button color="accent" routerLink="new" routerLinkActive="active">New Product</a>    
    </mat-toolbar>
    <mat-card-content>
        <mat-list>
            <h3 mat-subheader>Products</h3>
            <mat-list-item *ngFor="let prod of products">
                <h4 mat-line>{{ prod.name }}</h4>
                <h2 mat-line>R$ {{ prod.price }}</h2>
                <h1 mat-line>{{ prod.description }}</h1>
                <button mat-icon-button color="accent" (click)="deleteProduct(prod)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="editProduct(prod)">
                    <mat-icon>edit</mat-icon>
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

    
