<mat-card fxFlex>
    <mat-toolbar>
        <mat-card-title>
                Meus Pedidos
            </mat-card-title>
        <div class="spacer"></div>
            
    </mat-toolbar>
    <mat-card-content>
        <mat-list>
            <h3 mat-subheader>Todos os pedidos</h3>
            <mat-list-item *ngFor="let order of orders">
                    <h4 mat-line>Número do pedido: {{ order.id }}</h4>
                <h4 mat-line>Data da compra: {{ order.moment | date:'dd/MM/yyyy' }}</h4>
                <h2 mat-line> {{ order.orderStatus }}</h2>
                <button mat-raised-button color="accent"(click)="detalheCompra(order.id)">
                    <p>
                        Detalhe compra
                    </p>
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
    
