<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center;">Login/Cadastro</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Login">
            <mat-card-content>
                <form>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="E-mail"
                    required
                    name="email"
                    ngModel
                    [(ngModel)] = "userLogin.email"
                    id ="email"
                    #email="ngModel">
                    <mat-error *ngIf="email.invalid">Digite o e-mail</mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Senha"
                    type="password"
                    required
                    minlength="6"
                    name="password"
                    id = "password"
                    ngModel
                    [(ngModel)] = "userLogin.password"
                    #password="ngModel">
                    <mat-error
                        *ngIf="password.errors && password.errors.required">
                        Digite a senha
                    </mat-error>
                    <mat-error
                        *ngIf="password.errors && password.errors.minlength">
                        Password must be of length 6
                    </mat-error>
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-checkbox>Relembra-senha</mat-checkbox>
                <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    class="login-button" (click) = "login()">
                    Login
                    <mat-icon matSuffix>send</mat-icon>
                </button>
    
                <button
                    mat-raised-button
                    class="login-button">
                    Login with Google
                </button>
                </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Cadastro">
            <mat-card-content>
            <form action="">
                <mat-form-field>
                <input
                    matInput
                    placeholder="Nome"
                    required
                    name="name"
                    ngModel
                    [(ngModel)] = "userCad.name"
                    #username="ngModel">
                <mat-icon matSuffix>perm_identity</mat-icon>
    
                </mat-form-field>
                <mat-form-field>
                <input
                    matInput
                    placeholder="E-mail"
                    required
                    name="email"
                    ngModel
                    [(ngModel)] = "userCad.email"
                    #email="ngModel">
                    <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <label>Escolhar o tipo de Pessoa</label>
                <mat-radio-group
                    name="type"
                    ngModel
                    class="example-radio-group"
                    [(ngModel)]="userCad.type"
                    #type="ngModel">
                        <mat-radio-button class="example-radio-group" *ngFor="let type of typePerson" [value]="type"> {{type}}</mat-radio-button>
                </mat-radio-group>
                <mat-form-field>
                <input
                    matInput
                    placeholder="Digite o CPF ou CNPJ"
                    type="text"
                    required
                    name="cpfOuCnpj"
                    ngModel
                    [(ngModel)] = "userCad.cpfOuCnpj"
                    #cpfOuCnpj="ngModel">
                <mat-icon matSuffix>lock</mat-icon>
    
                </mat-form-field>
                <mat-form-field>
                    <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="6"
                    name="password"
                    ngModel
                    [(ngModel)] = "userCad.password"
                    #password="ngModel">
                    <mat-error
                        *ngIf="password.errors && password.errors.required">
                        Digite a senha
                    </mat-error>
                    <mat-error
                        *ngIf="password.errors && password.errors.minlength">
                        Password must be of length 6
                    </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button
                mat-raised-button
                color="primary"
                class="login-button" (click) = "insertUser()">
                Cadastrar
                </button>
            </form>
            </mat-card-content>
        </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>