<div class="login-page">
        <mat-card class="mat-elevation-z12">
            <mat-card-title style="text-align:center;">Cadastro de Produtos</mat-card-title>
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab>
                <mat-card-content>
                    <form [formGroup]="productForm" (ngSubmit)="saveProduct()" fxLayout="column" fxLayoutAlign="space-between">
                        <input type="hidden" formControlName="_id"/>
                        <mat-form-field>
                            <input matInput [(ngModel)]="prodName" placeholder="Nome do Produto" formControlName="name"/>
                        </mat-form-field>
                        <!--<mat-form-field>
                            <mat-select placeholder="Departments" formControlName="departments" multiple>
                                <mat-select-trigger>
                                    {{productForm.value.departments ? productForm.value.departments[0]?.name : ''}}
                                    <span *ngIf="productForm.value.departments.length > 1" class="example-additional-selection">
                                        (+{{productForm.value.departments.length - 1}} {{productForm.value.departments?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let dep of departments" [value]="dep">{{dep.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>--->
        
                        <mat-form-field>
                            <input matInput [(ngModel)]="prodDescription" placeholder="Descrição" formControlName="description"/>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput [(ngModel)]="prodPrice" placeholder="Valor do produto" formControlName="price" type="number"/>
                        </mat-form-field>
                    
                        <div fxLayout="row" fxLayoutAlign="end end">
                            <button mat-raised-button fxFlex="10" color="primary" class="login-button">
                                Salvar
                            </button>
                            <button mat-raised-button fxFlex="10" color="accent" class="login-button">
                                Cancelar
                            </button>
                        </div> 
                    </form>
                </mat-card-content>
            </mat-tab>   
        </mat-tab-group>
    </mat-card>
</div>