<h2 mat-dialog-title>Editar Produto</h2>
<mat-dialog-content>
        <p>Nome do produto</p>
        <mat-form-field>
            <input matInput [(ngModel)]="data.name">
        </mat-form-field>

        <p>Descrição do produto</p>
        <mat-form-field>
            <input matInput [(ngModel)]="data.description">
        </mat-form-field>

        <p>Valor do produto</p>
        <mat-form-field>
            <input matInput [(ngModel)]="data.price" type="number">
        </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Não salvar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>