<mat-toolbar color=primary class = "mat-elevation-z8">
  <span><mat-icon>eco</mat-icon>System E-comerce</span>
  <div class="spacer"></div>
  <a mat-button routerLink="home" routerLinkActive="active">Home</a>
  <a mat-button routerLink="products" routerLinkActive="active">Produtos</a>
  <a mat-button routerLink="aboutus" routerLinkActive="active">About Us</a>
  <a mat-button *ngIf="authService.loggedIn()"routerLink="orders" routerLinkActive="active">Minhas Compras</a>
  <a mat-raised-button color="accent" *ngIf="!authService.loggedIn()" routerLink="login" routerLinkActive="active">Login/Cadastro</a>
  <a mat-raised-button color="accent" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()" routerLink="login" routerLinkActive="active">Logout</a>
</mat-toolbar>